#submission-container label {
    color: var(--text-secondary-color);
    font-size: .8rem;
}

#submission-container > textarea {
    width: 90%;
}

#submission-container > input {
    width: 50%;
}

#assignment-title, #assignment-body, #assignment-file {
    margin-bottom: 15px;
}

#submit-button {
    margin-right: 0;
    margin-left: auto;
}

.panel-main-text {
    white-space: pre-wrap;
    font-size: .9rem;
}

pre {
    font-family: var(--font-primary);
}

.post {
    flex-direction: start;
    border: solid 1px black;
    padding: 10px 0;
    justify-content: start;
}
