:root {
    --thread-color: linear-gradient(#d3ecff 1%, #c2daf0 15% 100%);
}

.posts-container-header {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
}

.posts-container-header > p {
    margin: 0 5px;
    font-size: .8rem;
    color: var(--text-color);
}
