.course-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.course-header img {
    height: 60px;
    float:left;
}


.course-header h2{
    margin: 0;
    color: var(--text-heading-color);
}

.course-header p {
    color: var(--text-color);
    font-size: .9rem;
}

.course-header-status span {
    color: var(--text-highlight-color);
}


.panel-header-text {
    margin: 0 0 5px 0;
}

.panel-header-text:nth-of-type(2) {
    margin-top: 30px;
    margin-bottom: 20px;
}

#course-info-container {
    display: flex;
    justify-content: start;
    align-items :start;
    flex-wrap: wrap;
}

.course-info-container-item {
    width: 50%;
    margin-bottom: 20px;
}

.course-info-container-item > h4 {
    margin: 0;
    color: var(--text-color);
    text-transform: uppercase;
}

#calendar-table {
    width: 100%;
}

thead {
    background-image: var(--nav-color);
    color: white;
}

#calendar th td {
    /* border: none; */
    padding: 0;
    border-collapse: collapse;
}

#calendar tbody tr:nth-child(even) {
    background-color: #dae0e6;
}

#calendar thead th {
    padding: 5px 0;
}

#calendar-table thead tr th:nth-child(2) {
    width: 60%;
}

.calendar-session {
    text-align: center;
}

.calendar-content {
    padding: 15px;
}

.calendar-row-header {
    padding: 10px;
    font-weight: bold;
}
