:root {
    --nav-color: linear-gradient(rgb(30, 61, 107), rgb(65, 107, 170));
    --panel-color: linear-gradient(#12a3eb 1%, #2f78af 10% 100%);

    --text-color: #555555;
    --text-heading-color: black;
    --text-highlight-color: rgb(34, 69, 121);
    --text-primary-color: #555555;

    --button-color: linear-gradient(#e5f0f8, #bbc9d3);

    --font-primary: "Lucida Grande", "Trebuchet MS", Verdana, Helvetica, Arial, sans-serif;
    --font-secondary: Verdana, Geneva, Tahoma, sans-serif;

    --hover-color: rgb(196, 14, 14);

    --hr-color: #eeeeee;

    --thread-color: linear-gradient(#d3ecff 1%, #c2daf0 15%);
    --thread-dark-color: linear-gradient(#cfe4f5 1%, #b2d2f0 15% 100%);


    --post-color: #EEF5F9;
    --post-dark-color: #e3ebf0;
    --post-hover-color: #f6f4d0;
}

p {
    margin: 0;
    padding: 0;
}

.rounded {
    border-radius: 15px;
}

.shadow {
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.185);
}

html {
    min-height: 100%;
}

body {
    background-image: linear-gradient(#adceee, #2f4a6d);
    font-family: var(--font-primary);
    height: 100%;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: var(--hover-color);
}

input[type=text]:focus, input[type=text]:focus-visible, textarea:focus, textarea:focus-visible {
    outline: none;
}

.breadcrumbs-header {
    font-size: .7rem;
}
.breadcrumbs-header a:last-child {
    font-weight: bold;
}

#container {
    width: 65%;
    margin: 10px auto;
    overflow: auto;
    background-color: whitesmoke;
    background-image: linear-gradient(rgb(226, 226, 226), whitesmoke);
}

nav {
    background-image: var(--nav-color);
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 5px;
}

#nav-hamburger-menu {
    display: none;
}

nav > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav > ul > li {
    display: inline-block;
}

nav a {
    color: white;
    text-shadow: 2px 2px 10px black;
    padding: 10px;
    display: block;
}

#nav-user {
    display: flex;
    align-items: center;
}

#nav-user > .search-box-container {
    padding-bottom: 2px;    
    margin-right: 5px;
}

#nav-buttons > li:hover, nav a:hover, #nav-user > li:hover, #nav-user > li > a:hover {
    background-color: rgb(175, 181, 207);
    text-decoration: none;
    color: white;
}

#search-box { 
    padding: 0px 10px;
}

#body-container {
    width: 90%;
    margin: 0px auto;
}

#body-container > * {
    margin-top: 15px;
}

#overview-header img {
    width: 100%;
    height: 10rem;
    object-fit: cover;
}

#overview-header-container {
    position: relative;
    overflow: hidden;
}

#overview-header-text {
    position: absolute;
    margin: 0 0 0 15px;
    top: 0;
    left: 0;
    color: white;
}

#overview-header-text > * {
    text-shadow: 2px 2px 10px rgb(29, 29, 29);
}

#overview-header-text > h1 {
    margin-bottom: 0;
}

.posts-container {
    background-image: var(--panel-color);
    padding: 10px 8px;
}

.posts-container > h4 {
    margin: 0 0 8px 0;
    text-transform: uppercase;
    color: white;
}

.posts-container .post:nth-child(odd) {
    background-color: var(--post-dark-color);
}

.post {
    background-color: var(--post-color);
    display:flex;
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
    border-top: solid 1px white;
    font-size: 0.8rem;
    color: #555555;
}

.post:hover {
    background-color: var(--post-hover-color) !important;
}

.post-img-container {
    padding: 0 15px;
}

.post-header-container {
    padding: 15px;
    width: 70%;
}

.post-header-link {
    font-size: 1rem;
}

.post-header-content {
    margin: 0;
    color: #555555;
}

.post-meta-container {
    font-size: .7rem;
    margin: 10px 0 auto 0;
    text-align: end;
    padding: 5px;
}
.post-meta-container > p {
    margin: 0;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #555555;
    font-size: .8rem;
}

.content-page-header {
    margin: 0;
    color: var(--text-heading-color);
}

hr {
    color: var(--hr-color);
}

.paging-button {
    padding: 3px 6px;
    color: black;
}

.base-button {
    background-image: var(--button-color);
    border: 1px solid rgb(142, 145, 151);
    border-radius: 5px;
}
.base-button:hover {
    color: var(--hover-color);
    border-color: var(--hover-color);
    cursor: pointer;
}

.search-box-container {
    height: 24px;
}

.search-box {
    height: 100%;
    padding: 0 5px;
    float: left;
    box-sizing:border-box;
    border: 1px solid gray;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 1;
}
.search-box-button {
    height: 100%;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search-box-button > svg {
    height: 100%;
}

.panel-container {
    background-image: var(--thread-color);
    padding: 10px 10px 30px 10px;
}

.clearfix {
    overflow: auto;
}

.search-highlight {
    outline: 1px solid var(--hover-color);
    background-color: var(--post-hover-color) !important;
}


@media only screen and (max-width: 1024px) {
    body {
        margin: 0;
    }
    #container {
        width: 100%;
        margin: 0;
        border-radius: 0;
    }
    nav {
        justify-content: space-between;
    }

    #nav-buttons {
        display: none;
    }
    #nav-hamburger-menu {
        display: block;
    }

    #body-container {
        width: 100%;
    }

    .rounded {
        border-radius: 0;
    }

    .posts-container > h4 {
        text-align: center;
    }

    .thread-paging-container {
        text-align: center !important;
    }
}

