.thread {
    background-image: var(--thread-color);
    /* background-color: #cde5fa; */
    color: var(--text-color);
    padding: 10px 10px 30px 10px;
    display: flex;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.content-page-header h2 {
    margin: 0;
    padding: 0;
}

.threads-container .thread:nth-child(even) {
    background-image: var(--thread-dark-color);
}

.threads-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.top-post-reply-button {
    color: var(--hover-color);
    padding: 4px 10px;
}

.thread-content {
    width: 80%;
}

.thread-user {
    border-left: 1px solid white;
    padding-left: 10px;
    font-size: .8rem;
    font-family: var(--font-secondary);
}

.thread-username {
    color: var(--text-highlight-color);
    font-weight: bold;
}

.thread-username-second {
    margin-bottom: 10px;
}

.thread-user-img > img  {
    max-height: 100px;
    display: block;
}

.thread-header {
    margin: 0;
    font-weight: bold;
    color: var(--text-highlight-color);
}

.threads-container > .thread:not(:first-child) .thread-header::before  {
    content: "Re: ";
}

.thread-header-container {
    display: flex;
    justify-content: space-between;
}

.thread-header-quote {
    padding: 5px 5px 0 0;
}

.thread-header-date::before {
    content: "» ";
}

.thread-header-date {
    font-size: .8rem;
}

.thread-content-body {
    margin-top: 5px;
    color: var(--text-primary-color);
}


.thread-reply {
    display: block;
    background-image: var(--thread-color);
    padding: 10px 20px 30px 10px;
    margin-bottom: 5px;
}

.thread-reply-header {
    color: var(--text-highlight-color);
    font-weight: bold;
}

.thread-reply label {
    color: var(--text-primary-color);
}

.thread-reply-header-subject {
    width: 40%;
    color: var(--text-primary-color);
}

.thread-reply-body {
    width: 60%;
    padding: 0;
    margin: 0;
}

.thread-reply-post {
    margin-top: 10px;
    margin-left: auto;
    margin-right: 0;
}

.thread-reply button {
    padding: 5px 5px;
}

.thread-paging-container {
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: end;
}

.paging-active {
    background-image: var(--panel-color);
    color: white;
}