#body-container > h4 {
    color: black;
}

#profile-header {
    display: inline;
}

#profile-info {
    float: left;
    margin-right: 15px;
    padding-bottom: 15px;
}

.profile-img {
    border: solid 1px black;
}

#profile-info > h3 {
    color: var(--text-heading-color);
}

.profile-info-secondary {
    color: var(--text-color);
    font-size: .8rem;
    margin:0;
}

#profile-categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#profile-categories > ul {
    background-image: linear-gradient(#2f78af, #12a3eb);
    overflow: hidden;
    width: fit-content;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    list-style-type: none;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0;
    padding: 0;
}

#profile-categories > ul > li > a {
    display: block;
    padding: 15px;
    text-shadow: 2px 2px 10px black;
}

#profile-categories li:last-child {
    margin-right: 0;
}

#profile-categories > ul > li:hover {
    background-image: linear-gradient(#af2f2f, #eb1212);
}

#profile-categories > ul > li > a {
    color: white;
}

#profile-content {
    margin-top: 0;
    border-top-left-radius: 0;
}

.profile-tab-content {
    display: none;
}

.tab-active {
    background-image: linear-gradient(#af2f2f, #eb1212);
}

hr {
    clear:both;
}

#user-community-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

#user-community-header > h4 {
    margin-top: 0;
    margin-bottom: 0;
}

#user-community-header > .thread-paging-container {
    margin: 0;
}
